{"clientAllowedIps":{{ real_vps_awg_nat_client_address | to_json }},"sourceArchiveSha256":{{ real_vps_awg_nat_expected_source_archive_sha256 | to_json }},"sourceSha":{{ real_vps_awg_nat_expected_source_sha | to_json }}}
