[Unit]
Description=Dedicated honeypot guest IPv4
After=network-online.target
Wants=network-online.target
Before=honeypot.service
PartOf=honeypot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ip address replace {{ _honeypot_secondary_address }}/32 dev {{ _honeypot_secondary_interface }}
ExecStop=/usr/bin/python3 -I -B /usr/local/libexec/vpn-honeypot-remove-address.py {{ _honeypot_secondary_address }} {{ _honeypot_secondary_interface }}
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
