[Interface]
PrivateKey = REPLACE_WITH_AWG_EVIDENCE_SERVER_PRIVATE_KEY
Address = 10.66.77.1/24
ListenPort = 51920
Jc = 4
Jmin = 40
Jmax = 70
S1 = 50
S2 = 100
H1 = 1
H2 = 2
H3 = 3
H4 = 4

# BEGIN RIPDPI AWG EVIDENCE PEER
[Peer]
PublicKey = REPLACE_WITH_AWG_EVIDENCE_CURRENT_CLIENT_PUBLIC_KEY
PresharedKey = REPLACE_WITH_AWG_EVIDENCE_CURRENT_PRESHARED_KEY
AllowedIPs = 10.66.77.2/32
# END RIPDPI AWG EVIDENCE PEER
