/var/log/xray/*.log {
    daily
    rotate 7
    compress
    missingok
    notifempty
    create 0640 xray xray
    sharedscripts
    postrotate
        if systemctl is-active --quiet xray.service; then
            systemctl restart xray.service && systemctl is-active --quiet xray.service
        fi
    endscript
}
