<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://vpn.example.com/</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/about.html</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/methodology.html</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/updates.html</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/notes/reading-benchmark-results.html</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/notes/latency-throughput-context.html</loc><lastmod>2026-07-16</lastmod></url>
  <url><loc>https://vpn.example.com/notes/repeatable-model-comparisons.html</loc><lastmod>2026-07-16</lastmod></url>
</urlset>
