<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><url><loc>https://vpn.example.com/</loc></url><url><loc>https://vpn.example.com/about.html</loc></url><url><loc>https://vpn.example.com/methodology.html</loc></url><url><loc>https://vpn.example.com/updates.html</loc></url></urlset>
