{% for address in transport_egress_input_config.resolver.nameservers %}
nameserver {{ address }}
{% endfor %}
options timeout:{{ transport_egress_input_config.resolver.timeout_seconds }} attempts:{{ transport_egress_input_config.resolver.attempts }}
