{"schema":1,"pulse_path":"{{ observability_deadman.pulse_path }}","pulse_interval_seconds":{{ observability_deadman.pulse_interval_seconds | int }},"missed_pulse_limit":{{ observability_deadman.missed_pulse_limit | int }},"max_future_seconds":{{ observability_deadman.max_future_seconds | int }},"max_pulse_bytes":{{ observability_deadman.max_pulse_bytes | int }},"retry_attempts":{{ observability_deadman.retry_attempts | int }},"retry_timeout_seconds":{{ observability_deadman.retry_timeout_seconds | int }},"reminder_interval_seconds":{{ observability_deadman.reminder_interval_seconds | int }},"canary_interval_seconds":{{ observability_deadman.canary_interval_seconds | int }},"reverse_health_url":"{{ observability_deadman.reverse_health_url }}","reverse_health_max_bytes":{{ observability_deadman.reverse_health_max_bytes | int }},"telegram":{"chat_id":"{{ observability_deadman.telegram.chat_id }}","topic_id":{{ observability_deadman.telegram.topic_id | int }}}}
