<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"><url><loc>https://{{ nginx_xhttp.server_name }}/</loc></url><url><loc>https://{{ nginx_xhttp.server_name }}/about.html</loc></url><url><loc>https://{{ nginx_xhttp.server_name }}/methodology.html</loc></url><url><loc>https://{{ nginx_xhttp.server_name }}/updates.html</loc></url></urlset>
