#!/usr/sbin/nft -f
# Managed by Ansible role `firewall`. Hand edits will be overwritten.

# Replace only tables owned by this role. Other components (for example the
# split-hop egress NAT table) install independent nftables tables that must
# survive a firewall reload. `destroy` is idempotent on a fresh host.
destroy table inet filter
destroy table inet nat
















table inet filter {




  chain input {
    type filter hook input priority 0;
    policy drop;

    iif "lo" accept
    ct state established,related accept
    ct state invalid drop


    # ICMP follows the shaping floor: stateless error reports pass so
    # PMTUD and traceroute semantics stay intact, NDP is scoped to
    # link-local, and echo-request is rate-limited per family instead
    # of being accepted blanket.
    ip protocol icmp icmp type { destination-unreachable, time-exceeded, parameter-problem } accept
    ip protocol icmp icmp type echo-request limit rate 10/second burst 20 packets accept
    ip6 nexthdr ipv6-icmp icmpv6 type { destination-unreachable, packet-too-big, time-exceeded, parameter-problem } accept
    ip6 nexthdr ipv6-icmp icmpv6 type { nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } ip6 saddr fe80::/10 accept
    ip6 nexthdr ipv6-icmp icmpv6 type echo-request limit rate 10/second burst 20 packets accept


    tcp dport 22 ip saddr { 198.51.100.42/32 } accept





    # Public listener contract: xray (tcp/443)

    tcp dport 443 accept



    # Public listener contract: xray-fallback (tcp/2053)

    tcp dport 2053 accept



    # Public listener contract: public-site-http (tcp/80)

    tcp dport 80 accept



    # Public listener contract: nginx-xhttp (tcp/8443)

    tcp dport 8443 accept



    # Public listener contract: hysteria (udp/443)

    udp dport 443 accept



    # Public listener contract: amneziawg (udp/51820)

    udp dport 51820 accept



    counter drop
  }

  chain forward {
    type filter hook forward priority 0;
    policy drop;
    ct state established,related accept


    ct state new iifname "awg0" oifname "eth0" accept




  }

  chain output {
    type filter hook output priority 0;

    policy accept;
  }
}


table inet nat {
  chain postrouting {
    type nat hook postrouting priority 100;

    iifname "awg0" oifname != "awg0" counter masquerade comment "awg-nat-awg0"

  }
}
